
.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.navbar-list__item {
    margin: 0 8px;
    position: relative;
    min-width: 26px;
    z-index: 1;
}

.navbar-list__user {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar-list__user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(231, 230, 230);
    display: none; 
    transform-origin: calc(100% - 80px) top;
    animation: headerNotiGrowth ease-in 0.2s;
    will-change: opacity, transform;
}

.navbar-list__user:hover .navbar-list__user-menu {
    display: block;
}

.navbar-list__user-menu::before {
    content: "";
    border-width: 9px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 58px;
    top: -17px;
    z-index: -1;
}

.navbar-list__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
}

.navbar-list__user-item {
    list-style: none;
}

.navbar-list__user-item--separate {
    border-top: 1px solid rgba(0,0,0,0.01);
}

.navbar-list__user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar-list__user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar-list__user-item a {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 16px;
    display: block;
} 

.navbar-list__user-item a:hover {
    background-color: #fafafa;
    color: #26aa99;
}

.navbar-list__user-avt {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-list__user-name {
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
}

.navbar-list__item--has-qr:hover .header__qr {
    display: block;
}
.navbar-list__item--has-notifi:hover .header__notify {
    display: block;
}
.navbar-list__item--has-notifi:hover .navbar-list__item-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-list__item,
.navbar-list__item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-list__item,
.navbar-list__item-link,
.navbar-list__icon-link {
    display: flex;
    align-items: center;
}


.navbar-list__item:hover,
.navbar-list__item-link:hover,
.navbar-list__icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-list__item--strong {
    font-weight: 400;
}
.navbar-list__item--saparate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #f96958;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-list__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar-list__icon-link:nth-child(2) {
    margin-left: 4px;
}

.navbar-icon  {
    font-size: 1.8rem;
    margin: 0 4px;
}
.navbar-list__item-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.08);
}
.header__qr::before,
.header__notify::after {
    width: 100%;
    height: 20px;
    position: absolute;
    top: -16px;
    left: 0;
    content: "";
    display: block;

}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}


.header__qr-apps-download-img {
    height: 16px;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}
/* Header notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotiGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

@keyframes headerNotiGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header  h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45,0.09);
}


.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Authen modal */
.auth-form {    
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);

}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}


.auth-form__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control-back {
    margin-right: 8px;
    background-color: var(--white-color);
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.btn.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 28px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-saparte {
    margin: 1px 16px 0;
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-link-forgot {
    color: var(--primary-color);
}
 /* Header with search  */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
    -webkit-tap-highlight-color: transparent;

}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}


.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0,0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 5px;
    top: -24px;
    border-width: 15px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh ;
    overflow-y: auto;
}

.header__cart-item {
    position: relative;
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    max-width: 184px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* flex: 1; */
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-price-wrap {

}

.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view.btn:hover {
    background-color: #F05D41;
}


.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    display: none;
    width: 54%;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}


.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-notice {
    position: absolute;    
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select {
    border-left: 1px solid rgb(224, 223, 223);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #808080;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
}
.header__search-btn:hover {
    background-color: #ef694e;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);

}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 3.4px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px rgb(231, 230, 230);
    padding: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 24px;
    top: -16px;
    /* background-color: black; */
    left: 0;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}




.header__search-option-item  span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item  i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(198, 196, 196);
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: rgb(195, 193, 193);
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}
/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}


.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}
.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);

}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}




/* App container */



.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px 0;
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    cursor: pointer;
}

.category-list {
    padding-left: 0;
    list-style: none;
    padding-bottom: 8px;
    margin-left: 8px;
}
.category-item {
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before {
    position: absolute;
    content: "";
    border-top: 1px solid #eaeaea;
    top: 0;
    left: 20px;
    right: 20px;

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    left: 7px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}
/* Mobile category */
.mobile-category{
    display: none;
}

.mobile-category-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category-list::-webkit-scrollbar {
    display: none;
}

.mobile-category-item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link  {
    background-color: #72b2ed;
}
.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link  {
    background-color: #79cccb;
}
.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link  {
    background-color: #96d371;
}
.mobile-category-link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}



/* Home sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btn.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 2px rgb(231, 230, 230);
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.2rem;
    color: #555;
    font-weight: 2000;
}

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
/* Product item */

.home-product {
    margin-bottom: 16px;
}

.home-product__item {
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 2px;
    cursor: pointer;
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.home-product__item:hover {
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    transform: translateY(-2px);
    z-index: 1;
}


.home-product__item-img {
    background-size: contain;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 3px;
}

.home-product__item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product__item-price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product__item-price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product__item-price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product__item-action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product__item-action-like {
    font-size: 1.3rem;
}
i.home-product__item-action-like-icon {
    color: #f63d30;
    display: none;
}

.home-product__item-action-liked .home-product__item-action-like-icon{
    display: inline-block;
}

.home-product__item-action-liked .home-product__item-action-unlike-icon{
    display: none;
}


.home-product__item-rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product__item--star-gold {
    color: var(--star-gold-color);
}

.home-product__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product__item-origin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 10px 0;
    color: #969696;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product__item-favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product__item-favourite span {
    color: var(--white-color);
}

.home-product__item-favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);

}

.home-product__item-favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    background-color: rgba(255, 218, 75,0.94);
    text-align: center;
    border-top-right-radius: 2px;

}

.home-product__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 218, 75,0.94) transparent  rgba(255, 218, 75,0.94);
    
}

.home-product__sale-off-percent {
    color: #ee502e;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 3px;
}
.home-product__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
}

.home-product__pagination {
    margin: 48px 0;
    padding-left: 0;
}

/* Footer layout */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 16px;
}

.footer__download-app-link {
    text-decoration: none;

}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 36px;
}
.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}